$secondary: #999999;

.tic-header-three-center {
	.tic-title-main {
		font-size: 1.5rem;
	}
	
	.tic-title-secondary {
		font-size: .8rem;
		color: $secondary;

		& > span {
			padding-right: .3rem
		}
	}
}