$grey: #ccc4c4;
$blue: #1e90ff;

.tic-nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;

	position: fixed;
	bottom: 0;
	width: 100%;

	background-color: #ffffff;
	border-top: solid 1px $grey;

	& > div {
		flex: 1 0 33.333%;
		text-align: center;
		padding: 0.5rem 0 0;

		& > a {
			text-align: center;

			& > img {
				display: inline-block;
			}

			& > p {
				font-size: .3em;
				margin-top: -.5em;
			}

			&.selected > p {
				color: $blue;
			}
		}
	}
}

body {
	padding-bottom: 70px;
}