.tic-form {
	input[type=text],
	input[type=password],
	input[type=email],
	input[type=url],
	input[type=date],
	input[type=month],
	input[type=time],
	input[type=datetime],
	input[type=datetime-local],
	input[type=week],
	input[type=number],
	input[type=search],
	input[type=tel],
	input[type=color],
	select,
	textarea {
		padding: .5em .6em;
	    display: inline-block;
	    border: 1px solid #ccc;
	    box-shadow: inset 0 1px 3px #ddd;
	    border-radius: 4px;
	    vertical-align: middle;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;

	    margin: .3rem 0;

	    width: 100%;
	}

	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="date"]:focus,
	input[type="month"]:focus,
	input[type="time"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="week"]:focus,
	input[type="number"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="color"]:focus,
	select:focus,
	textarea:focus {
	    outline: 0;
	    border-color: #129FEA;
	}

	.tic-field {
		text-align: center;
	}
}
