.tic-avatar {
	position: relative;

	.avatar {
		position: absolute;
		width: 75px;

		bottom: -50px;
		right: 5%;
		border-radius: 50%;

		text-align: center;

		img {
			max-width: 100%;
		}
	}

	.bg {
		height: 200px;

		& > img {
			max-width: 100%;
			height: 200px;
		}
	}
	
}

$grey: #ccc4c4;
.tic-four-grid {
	display: flex;
	flex-flow: row wrap;

	padding: 4rem 1.25rem 1rem;

	.grid {
		flex: 0 0 50%;

		text-align: center;
		padding: 1rem 0;

		display: block;
		box-sizing: border-box;

		&.notice {
			position: relative;

			&::before {
				content: "";
			    position: absolute;
			    background-color: red;
			    width: 0.5rem;
			    height: 0.5rem;
			    border-radius: 50%;
			    right: 34.714%;
			}
		}
	}

	.grid:nth-child(1) {
		border-right: 1px solid $grey;
		border-bottom: 1px solid $grey;
	}
	.grid:nth-child(2) {
		border-bottom: 1px solid $grey;
	}
	.grid:nth-child(3) {
		border-right: 1px solid $grey;
	}
}

.tic-nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;

	position: fixed;
	bottom: 0;
	width: 100%;

	background-color: #ffffff;
	border-top: solid 1px $grey;

	& > div {
		flex: 1 0 33.333%;
		text-align: center;
		padding: 0.5rem 0 0;

		& > a {
			text-align: center;

			& > img {
				display: inline-block;
			}

			& > p {
				font-size: .3em;
				margin-top: -.5em;
			}

			&.selected > p {
				color: #117ee8;
			}
		}
	}
}

body {
	padding-bottom: 70px;
}
