/*reset*/
div {
	box-sizing: border-box;
}

a {
	color: #000000;
	text-decoration: none
}

textarea {
	outline: none;
	resize: none;
}

hr {
	border: none;
    border-bottom: dotted 2px #ccc4c4;
    margin: 1rem 0;
}

/*页面header布局，eg：profile.jsp*/
.tic-header-three {
	border-bottom: solid 1px #eff2f5;
	background: #f8f8f8;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	& > span, & > a, & > .tic-header-three-aside {
		flex: 0 0 20%;

		padding: .8rem .5rem;
		box-sizing: border-box;
		text-align: center;
	}

	& > h2, & > .tic-header-three-center {
		flex: 0 0 60%;
		text-align: center;
		box-sizing: border-box;

		padding: .8rem 0;
	}

	& > span > img {
		max-width: 100%;
	}
}

/*dialog & toast*/
/* .tic-dialog {
	display: none;
} */

[v-cloak] {
	display: none;
}

body {
	font-family: inherit;
}