$blue: #1e90ff;

.tic-detail-footer, .tic-detail-footer2 {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #edebf7;
	padding: 1rem 0;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	& > a {
		flex: 1 1 50%;
		box-sizing: border-box;
    	text-align: center;

		border-right: solid 1px #ccc4c4;

		& > span {
			color: $blue;
			font-size: 1.8em;
			vertical-align: middle;
			margin-left: .5em;
		}

		& > img {
			max-width: 100%;
			vertical-align: middle;
		}
	}

	& > a:last-child {
		border: none;
	}
}

.tic-detail-footer2 {
	border: none;
	background-color: transparent;
}