$blue: #088fd9;
$secondary: #999999;

.tic-article {
	.tic-article-header {
		overflow: hidden;
		padding: .5rem 1rem;

		.tic-article-header-left {
			display: inline-block;
			float: left;
			width: 23.438%;

			img {
				max-width: 100%;
			}
		}

		.tic-article-header-center {
			display: inline-block;
			float: left;
			margin-left: .5rem;
		}

		.tic-article-header-right {
			float: right;
			display: inline-block;
			padding: 1rem 0;
		}
	}

	.tic-title-strong {
		font-size: 1.5rem;
		color: $blue;
	}

	.tic-title-secondary {
		font-size: .8rem;
		color: $secondary;
	}

	.tic-title-em {
		color: $blue;
	}
}

.tic-cells-title {
	color: $blue;
	font-size: 1.5rem;
}


/*reset*/
.tic-cells-nomargin {
	margin-top: 0;
}

.weui-btn_primary {
	background-color: #2b9ddc;
}

.weui-btn_primary:not(.weui-btn_disabled):active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #237cad;
}

.tic-header-three > .tic-header-three-aside:nth-child(3) {
	visibility: hidden;
}

$error: #f05979;
.tic-error-tip {
	color: $error;
	text-align: left;
	margin-bottom: .6rem;
	padding: 10px 15px;
}