@import '_input';

$green: #1AAD19;
.tic-tag-box {
	text-align: center;

	.tic-tag-fn {
		padding: .5rem 0;
		font-size: .9rem;
		position: relative;
	}

	.tic-tag-fn::after {
		content: '';
	    background-image: url(/static/images/arrow_carrot-up.png);
	    display: inline-block;
	    width: 1.9rem;
	    height: 1.9rem;
	    background-size: 1.9rem;
	    vertical-align: bottom;
	}

	.tic-tag-fn.tic-tag-fn-fold::after {
		background-image: url('/static/images/arrow_carrot-down.png');
	}

	.tic-tag-content, .tic-tag-content-selected {
		padding: .5rem;
	}

	.tic-tag {
		border-radius: .28571429rem;
	    border: 1px solid rgba(34,36,38,.15);
	    padding: .4em .833em;
	    text-align: center;
	    line-height: 1;
	    vertical-align: baseline;
	    font-size: .85714286rem;
	    font-weight: 500;
	    display: inline-block;
	    margin: .25rem .5rem;
	}

	.tic-tag-selected {
		color: $green;
		border-color: $green;
	}
}

.tic-cells-title {
	color: $green;
	font-size: 1.5rem;
}

$secondary: #999999;

.tic-header-three-center {
	.tic-title-main {
		font-size: 1.5rem;
	}
	
	.tic-title-secondary {
		font-size: .8rem;
		color: $secondary;

		& > span {
			padding-right: .3rem
		}
	}
}

$error: #f05979;
.tic-error-tip {
	color: $error;
	text-align: left;
	margin-bottom: .6rem;
	padding: 10px 15px;

}