@import '_input'; 

/*reset we-ui-cell*/
.weui-cell {
	display: inline-flex;
}

.weui-btn_primary {
	background-color: #faa147;
}

.weui-btn_primary:not(.weui-btn_disabled):active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #dc8d3d;
}

.tic-table {
	.tic-tr-two {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		.tic-td-label {
			flex: 0 0 30%;
			text-align: center;

			padding: 1rem;
			box-sizing: border-box;
			border-right: solid 1px #ccc4c4;
		}

		.tic-td-content {
			flex: 0 0 70%;

			padding: 1rem;
			box-sizing: border-box;
		}
	}
}

.tic-table-head {
	padding: .8rem .5rem;

	& > h2 {
		padding: .8rem 0;
	}

	& > p {
		font-size: .8rem;
		padding: .8rem 0;
	}
}