$grey: #ccc4c4;
$blue: #088fd9;
$secondary: #999999;

.tic-sign-info-link {
	display: block;
}

.tic-sign-info-wrap {
	display: flex;
	flex-flow: row nowrap;

	align-items: center;

	padding: .5rem;
	border-bottom: solid 1px $grey;

	.tic-left {
		flex: 1 1 20%;

		& > img {
			max-width: 100%;
		}
	}

	.tic-center {
		flex: 1 1 70%;

		text-align: left;
		padding-left: .5rem;
	}

	.tic-right {
		flex: 1 1 10%;

		text-align: center;

		& > img {
			max-width: 100%;
		}
	}

	.tic-font-strong {
		color: $blue;
	}

	.tic-font-secondary {
		color: $secondary;
	}
}