$grey: #ccc4c4;
$blue: #088fd9;
$secondary: #999999;

.tic-table {
	.tic-tr-two {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		.tic-td-label {
			flex: 0 0 30%;
			text-align: center;

			font-weight: 700;

			padding: 1rem;
			box-sizing: border-box;
		}

		.tic-td-content {
			flex: 0 0 70%;

			padding: 1rem;
			box-sizing: border-box;
		}
	}
}

.tic-sign-info-wrap {
	display: flex;
	flex-flow: row nowrap;

	align-items: center;

	padding: .5rem;

	.tic-left {
		flex: 1 1 20%;

		& > img {
			max-width: 100%;
		}
	}

	.tic-center {
		flex: 1 1 70%;

		text-align: left;
		padding-left: .5rem;
	}

	.tic-right {
		flex: 1 1 10%;

		text-align: center;

		& > img {
			max-width: 100%;
		}
	}

	.tic-font-strong {
		color: $blue;
	}

	.tic-font-secondary {
		color: $secondary;
	}
}