@import '_input'; 

$error: #f05979;

/*reset we-ui-cell*/
.weui-cell {
	display: inline-flex;
}

.weui-btn_primary {
	background-color: #faa147;
}

.weui-btn_primary:not(.weui-btn_disabled):active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #dc8d3d;
}

.tic-table {
	.tic-tr-two {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		.tic-td-label {
			flex: 0 0 30%;
			text-align: center;

			padding: .5rem;
			box-sizing: border-box;
			border-right: solid 1px #ccc4c4;
		}

		.tic-td-content {
			flex: 0 0 70%;

			padding: 1rem;
			box-sizing: border-box;

			& > input.tic-error-input {
				border-color: $error;
			}
		}
	}
}

.tic-table-head {
	padding: .8rem .5rem;

	& > h2 {
		padding: .8rem 0;
	}

	& > p {
		font-size: .8rem;
		padding: .8rem 0;
	}
}

.tic-form-error {
	padding: 1rem;
	color: $error;
}

/*reset*/
.tic-cells-nomargin {
	margin-top: 0;
}

.weui-btn_primary {
	background-color: #2b9ddc;
}

.weui-btn_primary:not(.weui-btn_disabled):active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #237cad;
}

.tic-header-three > .tic-header-three-aside:nth-child(3) {
	visibility: hidden;
}